/* Header styles */
.navbar {
    background-color: #414453;
    width: 85.9%;
    margin-left: 14.1%;
}

.navbar-brand {
    display: none;
}

.nav-link {
    color: white !important;
}

.nav-item {
    margin-left: 5% !important;
}

.nav-item:first-of-type {
    color: white !important;
    /* margin-left: % !important; */
}

.nav-bar {
    background-color: #414453;
    height: 10vh;
    width: 86%;
    margin-left: 14%;
}

.nav-bar label {
    color: white;
    margin-top: 1.4rem;
    padding: 0 0.5rem;
    font-size: 0.9rem;
}

.firstlabel {
    margin-left: 50px;
}

.checkbox-style {
    width: 0.6rem;
    height: 0.6rem;
    background-color: white;
    display: inline-block;
    border-radius: 3px;
}

.nav-bar img {
    width: 0.9rem;
    height: 0.9rem;
    float: right;
    margin: 0.7rem;
    margin-top: 1.6rem;
}

/* side bar styles */
.profile-picture {
    border-radius: 75px;
    width: 5rem;
    height: 5rem;
    display: block;
    float: left;
    margin-left: 2.5rem;
    margin-top: 0.5rem;
}

.hamburger {
    padding-left: 8.6rem;
    padding-top: 1.4rem;
    color: white;
}

.side-bar a:hover {
    text-decoration: none;
}

.side-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 14%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px #eeeeee;
}

.side-bar-button {
    border-style: none;
    border-radius: 5px;
    background-color: transparent;
}

#responsive-side-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px #eeeeee;
    /* display: none; */
}

.profile-area {
    height: 35vh;
    width: 100%;
    background: url('images/5kproje.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
    
/* .side-bar:hover {
    overflow-y: scroll;
} */

.profile-text p:last-child {
    font-size: 0.9rem;
    color: white; 
    margin-left: 57px; 
    margin-top: -15px;
}

.profile-text p:first-child{
    color: white;
    font-size: 0.9rem;
    padding-top: 25px; 
    margin-left: 40px;
}


.icon1 {
    margin-top: 0;
    background-color: #eeeeee;
    height: 10vh;
    padding-top: 15px;
}

.icons {
    margin-top: 0.5rem;
}

.icons:hover {
    background-color: #222222 !important;
}

.icon1 img {
    float: left;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 20px;
    margin-top: 0.2rem;
}

.icons img {
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.2rem;
}

.icon1 p {
    font-size: 0.9rem;
    color: #595d69;
    padding-top: 0.2rem;
    margin-left: 60px;
}

.icons p {
    font-size: 0.9rem;
    color: #595d69;
    padding-top: 0.2rem;
    margin-left: 60px;
}

/* dashboard area */
.dashboard-button {
    width: 10rem;
    height: 3rem;
    background-color: #8486ea;
    margin-left: 11rem;
    margin-top: 5%;
    border-radius: 5px;
}

.dashboard-button img {
    float: left;
    margin-top: 1rem;
    margin-left: 20px;
    width: 1.2rem;
    height: 1.2rem; 
}

.dashboard-button p {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 13px;
    padding-left: 3.5rem;
}

.images img {
    float: right;
    width: 1.1rem;
    height: 1.1rem;
    margin: 2.75rem 0.3125rem 0.65rem 0.8rem;
}

/* Main dashboard area */
.main-dashboard-area {
    width: 86%;
    height: 100vh;
    /* background-color: #222222; */
    margin-left: 14%;
}

.dashboard-row {
    height: 100vh;
    margin-top: 5%;
    position: relative;
}

.empty-row {
    width: 80% !important;
}

.first-row1 {
    width: 100%;
    height: 40vh;
    /* box-shadow: 2px 2px 5px black; */
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    /* position: relative; */
}

.first-row2 {
    width: 100%;
    height: 40vh;
    /* box-shadow: 2px 2px 5px black; */
    margin-top: 8%;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    /* overflow-y: hidden; */
}

.second-row1 {
    width: 100%;
    height: 40vh;
    /* box-shadow: 2px 2px 5px black; */
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}

.second-row1 h5 {
    display: inline-block;
    color: #414352;
    margin-left: 25px;
    padding-top: 20px;
    font-weight: bold;
}

.second-row1 select {
    border-style: none;
    display: inline-block;
    margin-left: 10rem;
    color: #97979f;
}

.second-row1 img {
    /* width: 100%;
    height: 100%; */
    margin-top: 10%;
    margin-left: 8%;
}

.second-row2 {
    width: 100%;
    height: 40vh;
    /* box-shadow: 2px 2px 5px black; */
    margin-top: 5%;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    overflow-y: hidden;
}

.third-row1 {
    width: 100%;
    height: 83vh;
    /* box-shadow: 2px 2px 5px black; */
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    overflow-y: scroll;
}

.first-row1 h5 {
    display: inline-block;
    color: #414352;
    margin-left: 1.2rem;
    padding-top: 1.2rem;
    font-weight: bold;
    /* font-size: 0.8rem; */
}

.first-row1 select {
    border-style: none;
    display: inline-block;
    margin-left: 11em;
    color: #97979f;
    font-size: 0.9rem;
}

.first-row1 img {
    /* margin-top: 10%; */
    margin-left: 10%;
}

/* .first-row2:hover {
    overflow-y: scroll;
} */

.first-row2 p {
    font-size: 0.6rem;
    color: rgb(100, 100, 100);
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.first-row2 h6 {
    color: #595d69;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.7rem;
}

.third-row1 h5 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    color: #414352;
    font-weight: bold;
}

.first-row2 h5 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.second-row2 h5 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 1.2rem;
}

.second-row2 p {
    color: #b3b2b2;
    font-size: 0.8rem;
}

.first-row2 hr {
    margin-left: 15px;
    margin-right: 15px;
}

.second-row2:hover {
    overflow-y: scroll;
}

/* .third-row2 {
    width: 90%;
    height: 50%;
    box-shadow: 2px 2px 5px black; 
} */

.top-selling-products-row p {
    /* border-bottom: 1px solid grey; */
    margin-bottom: 0px;
}

/* .top-selling-products-row {
} */

/* width */
.second-row2::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .second-row2::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .second-row2::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .second-row2::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* width */
.first-row2::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .first-row2::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .first-row2::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .first-row2::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .crown-img img {
      border: 1px solid #ececec;
      border-radius: 19px;
      padding: 5px;
      float: left;
      width: 40px;
      height: 40px;
      margin-left: 20px;
  }

  .crown-img p {
      color: #494949;
      margin-left: 70px;
      padding-top: 6px;
      font-weight: bold;
  }

  .birthdays {
      margin-top: 10px;
      height: 50px;
      /* border-left: 1px solid #d6d6d6; */
  }

  .birthdays img {
      width: 35px;
      height: 35px;
      float: left;
      border-radius: 18px;
      margin-left: 60px;
  }

  .birthdays p {
      font-size: 0.8rem;
      position: relative;
      margin-left: 100px;
  }

  .birthdays small {
      font-size: 0.7rem;
      padding-top: 0px;
  }

  .tick img {
      width: 12px !important;
      height: 12px !important;
      padding: 0 !important;
      border: none !important;
      float: left;
      margin-left: 40px;
  }

  .tick p {
      color: #cccdd1;
      font-size: 0.7rem;
      margin-left: 60px;
  }

  .ten-am {
      margin-left: 2px;
  }

  /* width */
.side-bar::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .side-bar::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  .side-bar::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  .side-bar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .nav-icons img {
      float: right;
      background-color: orange;
      width: 200;
      height: 200;
  }

  .line {
      border: 5px solid black;
      height: 100px;
  }

  .stars img {
      height: 15px;
      width: 15px; 
  }

  .line {
      width: 1px;
      height: 420px;
      background-color: silver;
      border-style: none;
      position: absolute;
      top: 87px;
      left: 70px;
  }

  .line2 {
    width: 1px;
    height: 246px;
    background-color: silver;
    border-style: none;
    position: absolute;
    top: 87px;
    left: 70px; 
  }

  input[type="checkbox"] {
    appearance: none;
  }

  
