@media (max-width: 1000px) {
    .navbar {
        width: 100%;
        margin-left: 0;
        z-index: 1 !important;
    }

    .side-bar {
        display: none;
    }

    .dashboard-button {
        margin-left: 0;
    }

    .go-away {
        display: none;
    }

    .images img {
        margin-top: -1.6rem;
        margin-left: 0.3rem;
    }

    .main-dashboard-area {
        width: 100%;
        margin-left: 0;
    }

    .second-row1 select {
        margin-left: 5em;
    }

    .dashboard-responsive {
        margin-top: 15%;
    }

    .first-row2 {
        overflow-y: scroll;
    }

    .second-row1 {
        margin-top: 5%; 
    }

    .second-row1 img {
        width: 19rem;
        height: 9.4rem;
        margin-left: 4%; 
    }

    .first-row1 img {
        width: 17.5rem;
        height: 12.5rem;
        margin-left: 5%; 
    }

    .third-row1 {
        margin-top: 5%;
    }

    .navbar-brand {
        display: block;
    }

    #responsive-side-bar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 2px #eeeeee;
        /* display: flex; */
        transition: 0.5s;
        z-index: 2;
        overflow-x: hidden;
        /* margin-top: 15%; */
    }

    .second-row2-p {
        padding-left: 1rem
    } 

    .second-row2-span1 {
        padding-left: 5rem;
    }

    .second-row2-span2 {
        padding-left: 2rem;
    }

    .first-row1 img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .second-row1 img {
        /* width: 100%;
        height: 100%; */
        /* margin-top: 10%; */
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 10rem;
        width: 20rem;
        margin-top: 1rem;
    }

    .first-row1 select {
        margin-left: 10rem;
    }

    .control-arrow {
        float: right; 
        width: 0.5rem; 
        height: 0.5rem; 
        margin-top: -40px; 
        border-style: none;
    }
}